@page "/"
@using System.Runtime.InteropServices;
@implements IDisposable
@inject StateContainer StateContainer
@inject IDiaryService DiaryService
@inject IDialogService DialogService
@inject IPreferences Preferences

<MudThemeProvider @ref="mudThemeProvider" IsDarkMode="isDarkMode" />
<div class="d-flex flex-column pa-4" style="height:94vh; overflow-x:auto;">
    @switch (StateContainer.SelectedPage)
        {
            case SelectedPage.Home:
                <DiaryEntry />
                break;
            case SelectedPage.Settings:
                <PreferencesPage />
                break;
            case SelectedPage.Export:
                <ExportPage />
                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
</div>

@code {
    private bool gettingStartedOpen = false;
    private MudThemeProvider mudThemeProvider;
    private bool isDarkMode = true;

    /// <summary>
    /// Subscribes to StateContainer changes.
    /// </summary>
    protected override void OnInitialized()
    {
        StateContainer.OnChange += StateHasChanged;
    }

    /// <summary>
    /// Re-renders UI if dependencies have changed.
    /// </summary>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (gettingStartedOpen) // To not re-render the Getting Started dialog if it's actively open.
        {
            return;
        }
        await SetThemeAsync();

        string error = StateContainer.Error;
        if (StateContainer.FirstTime && error == DiaryErrorConstants.FileNotFound)
        {
            if (!OperatingSystem.IsAndroid())
            {
                await ShowGettingStartedDialogAsync();
            }
            else
            {
                await SetupDiaryForAndroidAsync();
            }
        }
        else if (error != DiaryErrorConstants.FileNotFound && error != DiaryErrorConstants.None)
        {
            ShowErrorDialog();
        }
    }

    /// <summary>
    /// Shows a dialog with getting started information if this is the first time a user
    /// opens the app.
    /// </summary>
    private async Task ShowGettingStartedDialogAsync()
    {
        gettingStartedOpen = true;
        var options = new DialogOptions
        {
            CloseOnEscapeKey = false,
            CloseButton = false,
            DisableBackdropClick = true
        };
        var dialog = await DialogService.ShowAsync<GettingStartedDialog>("Welcome!", options);
        await dialog.Result;
        gettingStartedOpen = false;
    }

    /// <summary>
    /// Uses shared storage to set up diary on the android device.
    /// </summary>
    private async Task SetupDiaryForAndroidAsync()
    {
        Preferences.Set(PreferenceKeys.DiaryFile, $"{System.Environment.GetFolderPath(System.Environment.SpecialFolder.Personal)}\\multi-diary.txt");
        await DiaryService.CreateDiaryAsync();
    }

    /// <summary>
    /// Shows a dialog displaying an error if one has occurred.
    /// </summary>
    private void ShowErrorDialog()
    {
        var parameters = new DialogParameters
        {
            { "ContentText", StateContainer.Error },
            { "ButtonText", "Okay" },
            { "Color", Color.Error }
        };

        var dialog = DialogService.Show<SimpleDialog>("Error!", parameters);
    }

    /// <summary>
    /// Gets the theme either from the system or the preference, depending on preferences set.
    /// </summary>
    private async Task SetThemeAsync()
    {
        bool newIsDarkMode;
        bool isDarkModePreference = Preferences.Get(PreferenceKeys.ThemeIsDarkMode, true);
        var useSystemTheme = Preferences.Get(PreferenceKeys.ThemeUseSystemTheme, true);
        if (useSystemTheme)
        {
            newIsDarkMode = await mudThemeProvider.GetSystemPreference();

            if (isDarkModePreference != newIsDarkMode)
            {
                Preferences.Set(PreferenceKeys.ThemeIsDarkMode, newIsDarkMode);
            }
        }
        else
        {
            newIsDarkMode = isDarkModePreference;
        }

        if (newIsDarkMode != isDarkMode)
        {
            isDarkMode = newIsDarkMode;
            StateHasChanged();
        }
    }

    /// <summary>
    /// Unsubscribes from StateContainer changes.
    /// </summary>
    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}