@page "/"
@implements IDisposable
@inject StateContainer StateContainer
@inject IDiaryService DiaryService

@if (StateContainer.Error == DiaryErrorConstants.FileNotFound)
{
    <p>Welcome</p>
}
else if (StateContainer.Error != DiaryErrorConstants.None)
{
    <p>Error</p>
}
else if (StateContainer.Diaries != null)
{
    <DiaryPage Diaries="StateContainer.Diaries" />
}

@code {
    /// <summary>
    /// Subscribes to StateContainer changes.
    /// Gets diaries from file.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        StateContainer.OnChange += StateHasChanged;
        await DiaryService.GetDiariesAsync();
    }

    /// <summary>
    /// Unsubscribes from StateContainer changes.
    /// </summary>
    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}