@page "/"
@implements IDisposable
@inject StateContainer StateContainer
@inject IDiaryService DiaryService

<MudDrawerContainer>
    <Sidebar Date="Date" Diaries="StateContainer.Diaries" />
    <div class="pa-4">
        <DiaryEntry Date="Date" Sections="SelectedDiarySections" />
    </div>
</MudDrawerContainer>

@code {
    /// <summary>
    /// Subscribes to StateContainer changes.
    /// Gets diaries from file.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        StateContainer.OnChange += StateHasChanged;
        await DiaryService.GetDiariesAsync();
    }

    private DateOnly Date => StateContainer.SelectedDate;

    /// <summary>
    /// Returns the diary sections for the selected date.
    /// </summary>
    private List<DiarySection> SelectedDiarySections => StateContainer.Diaries.Entries.SingleOrDefault(x => x.Key == StateContainer.SelectedDate).Value?.DiarySections ?? new List<DiarySection>();

    /// <summary>
    /// Unsubscribes from StateContainer changes.
    /// </summary>
    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}