@inject IDiaryService diaryService;

@foreach(var section in Sections)
{
    <DebounceInputText
        @bind-Value="section.Title"
        OnValueChanged="() => diaryService.UpsertSection(Date, section, false)"
        DebounceTime="@debounceTimeMilleseconds"
    />
    <DebounceInputText
        @bind-Value="section.Body"
        OnValueChanged="() => diaryService.UpsertSection(Date, section, false)"
        DebounceTime="@debounceTimeMilleseconds"
        />
    <br />
}

<button @onclick="AddSection">Add Section</button>

@code {
    [Parameter]
    public DateOnly Date { get; set; }
    [Parameter]
    public List<DiarySection> Sections { get; set; }

    private const int debounceTimeMilleseconds = 2000;

    private void AddSection()
    {
        var sectionId = Sections.Max(x => x.SectionId) + 1;
        Sections.Add(new DiarySection(sectionId));
    }
}
