@inject IDiaryService DiaryService
@inject IDialogService DialogService

<MudPaper Class="pa-2">
    <ChildContent>
    <div class="d-flex pa-2">
        <MudTextField Value="DiarySection.Title"
                        Label="Title"
                        DebounceInterval="debounceTimeMilleseconds"
                        T="string"
                        ValueChanged="OnTitleUpdatedAsync"
                        Lines="1" />
        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                    aria-label="delete"
                    OnClick="DeleteSection" 
                    tabindex="-1" />
    </div>
    <div class="pa-2">
        <MudTextField Variant="Variant.Filled"
                      Value="DiarySection.Body"
                      Label="Body"
                      DebounceInterval="debounceTimeMilleseconds"
                      T="string"
                      ValueChanged="OnBodyUpdatedAsync"
                      Lines="5" />
    </div>
    </ChildContent>
</MudPaper>

@code {
    [Parameter]
    public DateOnly Date { get; set; }
    [Parameter]
    public DiarySection DiarySection { get; set; }

    private const int debounceTimeMilleseconds = 2000;

    /// <summary>
    /// On title text box update, update diary file.
    /// Updates are generated when user leaves title text box
    /// or sits for 2 seconds.
    /// </summary>
    /// <param name="title">Updated title text</param>
    protected async Task OnTitleUpdatedAsync(string title)
    {
        DiarySection.Title = title;
        await DiaryService.UpsertSection(Date, DiarySection, false);
    }

    /// <summary>
    /// On title text box update, update diary file.
    /// Updates are generated when user leaves body text box
    /// or sits for 2 seconds.
    /// </summary>
    /// <param name="body">Updated body text</param>
    protected async Task OnBodyUpdatedAsync(string body)
    {
        DiarySection.Body = body;
        await DiaryService.UpsertSection(Date, DiarySection, false);
    }

    /// <summary>
    /// Confirm the section should be deleted and delete if desired.
    /// </summary>
    private async Task DeleteSection()
    {
        var parameters = new DialogParameters();
        parameters.Add("ContentText", "Do you really want to delete this section? This process cannot be undone.");
        parameters.Add("ButtonText", "Delete");
        parameters.Add("Color", Color.Error);

        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.ExtraSmall };
        var dialog = DialogService.Show<SimpleDialog>("Delete", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled && (bool)result.Data)
        {
            await DiaryService.RemoveDiarySectionAsync(Date, DiarySection.SectionId);
        }
    }
}
