@inject IDiaryService DiaryService
@inject IFolderPicker FolderPicker

<div class="d-flex">
    <MudTextField
        Value="filePath"
        Variant="Variant.Filled"
        FullWidth="true"
        @onclick="SelectFile"/>
    <MudButton
        Variant="Variant.Filled"
        OnClick="SelectFile">
        Select
    </MudButton>
</div>

@code {
    private string filePath;

    protected override void OnInitialized()
    {
        filePath = Preferences.Default.Get(PreferenceKeys.DiaryFile, string.Empty);
    }

    protected async Task SelectFile()
    {
        try
        {
            var result = await FolderPicker.PickAsync(CancellationToken.None);
            if (result.IsSuccessful)
            {
                Preferences.Set(PreferenceKeys.DiaryFile, $"{result.Folder.Path}\\multi-diary.txt");
                await DiaryService.GetDiaries();
            }
        }
        catch (Exception) // The user canceled or something went wrong.
        {
            
        }
    }
}
