@inject IDiaryService DiaryService

<div class="d-flex">
    <MudTextField Value="filePath" Variant="Variant.Filled" />
    <MudButton Variant="Variant.Filled" OnClick="SelectFile">Select</MudButton>
</div>

@code {
    private string filePath;

    protected override void OnInitialized()
    {
        filePath = Preferences.Default.Get(PreferenceKeys.DiaryFile, string.Empty);
    }

    protected async Task SelectFile()
    {
        try
        {
            var result = await FilePicker.Default.PickAsync();
            Preferences.Set(PreferenceKeys.DiaryFile, result.FullPath);
            await DiaryService.GetDiariesAsync();
        }
        catch (Exception) // The user canceled or something went wrong.
        {
            
        }
    }
}
