@inject StateContainer StateContainer

<div class="d-flex flex-column gap-4 center-page">
    @if (!OperatingSystem.IsAndroid())
    {
        <FilePreferences OnDiarySelected="Submit" />
    }
    <WebDavPreferences />
    <SectionPreferences />
    <DefaultSectionPreferences />
    <ThemePreferences />
    <ResetDiaryPreferences />
</div>

@code {
    
    /// <summary>
    /// On submit, set page back to home.
    /// </summary>
    private void Submit() => StateContainer.SelectedPage = SelectedPage.Home;
}
